/comparative_genomics/
/genome_annotation/resources/
/genome_annotation/results/
/genome_annotation/temp/
/genome_annotation/.snakemake/

/genome_assembly/

/metagenome_assembly/resources/
/metagenome_assembly/results/

/rna_seq_workflow/.snakemake/
/rna_seq_workflow/reports/
/rna_seq_workflow/resources/
/rna_seq_workflow/results/
/rna_seq_workflow/temp/
/rna_seq_workflow/workflow/notebooks/

simona/



