/comparative_genomics/
/genome_annotation/resources/
/genome_annotation/results/
/genome_annotation/temp/
/genome_annotation/.snakemake/

/genome_assembly/

/metagenome_assembly/resources/
/metagenome_assembly/results/

/rna_seq_workflow/.snakemake/
/rna_seq_workflow/reports/
/rna_seq_workflow/resources/
/rna_seq_workflow/results/
/rna_seq_workflow/temp/
/rna_seq_workflow/workflow/notebooks/

simona/



transcript_assembly/20240716_foxy.gtf
transcript_assembly/foxyAOK1.sortedByCoord.out.gtf
transcript_assembly/foxyAOK2.sortedByCoord.out.gtf
transcript_assembly/foxyAOT1.sortedByCoord.out.gtf
transcript_assembly/foxyAOT2.sortedByCoord.out.gtf
transcript_assembly/foxyAOT3.sortedByCoord.out.gtf
transcript_assembly/foxyMOK1.sortedByCoord.out.gtf
transcript_assembly/foxyMOK2.sortedByCoord.out.gtf
transcript_assembly/foxyMOK3.sortedByCoord.out.gtf
transcript_assembly/foxyMOT1.sortedByCoord.out.gtf
transcript_assembly/foxyMOT2.sortedByCoord.out.gtf
transcript_assembly/foxyMOT3.sortedByCoord.out.gtf
transcript_assembly/foxyOK1.sortedByCoord.out.gtf
transcript_assembly/foxyOK2.sortedByCoord.out.gtf
transcript_assembly/foxyOK3.sortedByCoord.out.gtf
transcript_assembly/foxyOT1.sortedByCoord.out.gtf
transcript_assembly/foxyOT2.sortedByCoord.out.gtf
transcript_assembly/foxyOT3.sortedByCoord.out.gtf
transcript_assembly/run_stringtie.sh
transcript_assembly/tmp_3ikFce/foxyAOT2.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_3v5JWK/foxyAOK2.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_6IxTpC/foxyOK3.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_935z4o/foxyMOT1.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_BPqqoW/foxyOT2.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_RZkTMU/foxyAOT3.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_SszXbc/foxyMOK2.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_T8jzeN/foxyOT1.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_TFeDoj/foxyOK1.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_ajjZpG/foxyMOK1.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_bFJIGv/foxyMOK3.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_bfJoL5/foxyAOT1.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_c9U0Mz/foxyOT3.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_dB3iDf/foxyOK2.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_fZ9MIP/foxyAOK1.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_lTfdpv/foxyMOT2.sortedByCoord.out.gtf.tmp
transcript_assembly/tmp_xKrKCG/foxyMOT3.sortedByCoord.out.gtf.tmp
gsea/AOK_vs_OK_gsea_plot.png
gsea/AOK_vs_OK_gsea_results.csv
gsea/AOT_vs_AOK_gsea_plot.png
gsea/AOT_vs_AOK_gsea_results.csv
gsea/AOT_vs_OT_gsea_plot.png
gsea/AOT_vs_OT_gsea_results.csv
gsea/MOK_vs_AOK_gsea_plot.png
gsea/MOK_vs_AOK_gsea_results.csv
gsea/MOK_vs_OK_gsea_plot.png
gsea/MOK_vs_OK_gsea_results.csv
gsea/MOT_vs_AOT_gsea_plot.png
gsea/MOT_vs_AOT_gsea_results.csv
gsea/MOT_vs_MOK_gsea_plot.png
gsea/MOT_vs_MOK_gsea_results.csv
gsea/MOT_vs_OT_gsea_plot.png
gsea/MOT_vs_OT_gsea_results.csv
gsea/OT_vs_OK_gsea_plot.png
gsea/OT_vs_OK_gsea_results.csv
genome_annotation/.ncbi/user-settings.mkfg
rna_seq_workflow/cluster1_genes.csv
rna_seq_workflow/cluster2_genes.csv
rna_seq_workflow/cluster3_genes.csv
rna_seq_workflow/cluster4_genes.csv
rna_seq_workflow/cluster5_genes.csv
rna_seq_workflow/cluster6_genes.csv
rna_seq_workflow/cluster7_genes.csv
rna_seq_workflow/cluster8_genes.csv
rna_seq_workflow/cluster9_genes.csv
/protisten_TH/
/amplicon_workflow/.snakemake
/amplicon_workflow/results
/amplicon_workflow/reports
/amplicon_workflow/resources
reports/protisten_TH_16S/barcode01_chimera_filtering.log
reports/protisten_TH_16S/barcode02_chimera_filtering.log
reports/protisten_TH_16S/barcode03_chimera_filtering.log
reports/protisten_TH_16S/barcode04_chimera_filtering.log
reports/protisten_TH_16S/barcode05_chimera_filtering.log
reports/protisten_TH_16S/barcode06_chimera_filtering.log
reports/protisten_TH_16S/barcode07_chimera_filtering.log
reports/protisten_TH_16S/barcode08_chimera_filtering.log
reports/protisten_TH_16S/barcode09_chimera_filtering.log
reports/protisten_TH_16S/barcode10_chimera_filtering.log
reports/protisten_TH_16S/barcode11_chimera_filtering.log
reports/protisten_TH_16S/barcode12_chimera_filtering.log
reports/protisten_TH_16S/barcode13_chimera_filtering.log
reports/protisten_TH_16S/barcode14_chimera_filtering.log
reports/protisten_TH_16S/barcode15_chimera_filtering.log
reports/protisten_TH_16S/barcode16_chimera_filtering.log
reports/protisten_TH_16S/barcode17_chimera_filtering.log
reports/protisten_TH_16S/barcode18_chimera_filtering.log
reports/protisten_TH_16S/barcode19_chimera_filtering.log
reports/protisten_TH_16S/barcode20_chimera_filtering.log
reports/protisten_TH_16S/barcode21_chimera_filtering.log
reports/protisten_TH_16S/barcode22_chimera_filtering.log
reports/protisten_TH_16S/barcode23_chimera_filtering.log
reports/protisten_TH_16S/barcode24_chimera_filtering.log
reports/protisten_TH_16S/barcode25_chimera_filtering.log
reports/protisten_TH_16S/barcode26_chimera_filtering.log
reports/protisten_TH_16S/barcode27_chimera_filtering.log
reports/protisten_TH_16S/barcode28_chimera_filtering.log
reports/protisten_TH_16S/barcode29_chimera_filtering.log
reports/protisten_TH_16S/barcode30_chimera_filtering.log
reports/protisten_TH_16S/barcode31_chimera_filtering.log
reports/protisten_TH_16S/barcode32_chimera_filtering.log
reports/protisten_TH_16S/barcode33_chimera_filtering.log
reports/protisten_TH_16S/barcode34_chimera_filtering.log
reports/protisten_TH_16S/barcode35_chimera_filtering.log
reports/protisten_TH_16S/barcode36_chimera_filtering.log
reports/protisten_TH_16S/barcode37_chimera_filtering.log
reports/protisten_TH_16S/barcode38_chimera_filtering.log
reports/protisten_TH_16S/barcode39_chimera_filtering.log
reports/protisten_TH_16S/barcode40_chimera_filtering.log
reports/protisten_TH_16S/barcode41_chimera_filtering.log
reports/protisten_TH_16S/barcode42_chimera_filtering.log
