/comparative_genomics/
/genome_annotation/resources/
/genome_annotation/results/
/genome_annotation/temp/
/genome_annotation/.snakemake/

/genome_assembly/

/metagenome_assembly/resources/
/metagenome_assembly/results/

/rna_seq_workflow/.snakemake/
/rna_seq_workflow/reports/
/rna_seq_workflow/resources/
/rna_seq_workflow/results/
/rna_seq_workflow/temp/
/rna_seq_workflow/workflow/notebooks/

/amplicon_workflow/results/
/amplicon_workflow/reports/
/amplicon_workflow/resources/
/amplicon_workflow/.snakemake/

/simona/



/transcript_assembly/

rna_seq_workflow/cluster1_genes.csv
rna_seq_workflow/cluster2_genes.csv
rna_seq_workflow/cluster3_genes.csv
rna_seq_workflow/cluster4_genes.csv
rna_seq_workflow/cluster5_genes.csv
rna_seq_workflow/cluster6_genes.csv
rna_seq_workflow/cluster7_genes.csv
rna_seq_workflow/cluster8_genes.csv
rna_seq_workflow/cluster9_genes.csv

/protisten_TH/